
.logoContainer {
	text-align: center;
	margin: 2%;
}

.demoContainer {
	text-align: center;
}

.section-tout {
  padding: 20px;
  background: #ecf9fb;
  margin: 20px 0;
}

.step {
  margin: 40px 0;
}

.fork-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 999;
}

.social-buttons-container {
  text-align: center;
  margin: 20px 0;
}

.social-buttons {
  display: inline-block;  
}